::-webkit-scrollbar {
    display: none;
}
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: "San Francisco";
    cursor: none;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
.hidden {
    scale: 3;
    opacity: 0;
    filter: contrast(0) blur(30px);
    transform: translate(0px,44px) rotate(0deg);
    transition: all 0.8s ease-in;
}
.shown {
    scale: 0.8;
    opacity: 1;
    filter: blur(0) contrast(1.2);
    transform: translate(0px,40px) rotate(0deg);
}
.hidden1 {
    opacity: 0;
    transform: translate(0px,400px) rotate(0deg);
    transition: all 1s;
}
.shown1 {
    text-shadow: 0px 0px 24px #ffffff;
    opacity: 1;
    filter: blur(0);
    transform: translate(0px,0px) rotate(0deg);
}
.hidden2 {
    opacity: 0;
    filter: blur(7px);
    transform: translate(310px,-300px);
    animation-delay: 0.4s;
    transition: all 1s;
}
.shown2 {
    opacity: 1;
    filter: blur(0);
    transform: translate(0px,0px);
}
.hidden3 {
    scale: 1.8;
    opacity: 0;
    filter: blur(30px);
    transform: translate(0px,200px) rotate(0deg);
    transition: all 0.7s;
}
.shown3 {
    scale: 1;
    opacity: 1;
    filter: blur(0);
    transform: translate(0px,0px) rotate(0deg);
    text-shadow: 0px 0px 24px #ffffff;
}

.navbar-el {
    width: 100vw;
    height: 6vh;
    position: fixed;
    background-color: #000000;
    z-index: 1;
    text-align: center;
}
.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    border: none;
}
.navbar-item {
    height: 100%;
    padding: 20px;
    background-color: #000000;
    border: none;
}
a.navbar-item-link {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    color: rgb(220, 220, 220);
}
.navbar-item:hover {
    text-shadow: 0px 3px 20px #ffffff;
    animation: underliner 0.5s ease forwards;
    cursor: none;
}
.logo {
    margin: auto;
    color: white;
}
.cursor {
    z-index: 2;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: fixed;
    transition-duration: 0ms;
    transition-timing-function: ease-out;
    transform: translate(-50%,-50%);
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    z-index: 2;
    content: "";
    width: 20px;
    height: 20px;
    position: fixed;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    pointer-events: none;
    animation: cursorAnim2 .5s infinite alternate;
}
@keyframes underliner {
    from {
        text-decoration: none;
        text-decoration-color: #000000;
    }
    to {
        text-decoration: underline;
        text-decoration-color: #ffffff;
        background-color: #2e2e2e;
    }
}
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}
